<p id="notice"><%= notice %></p>

<p>
  <b>Panel plan:</b>
  <%= @panel_deal.panel_plan_id %>
</p>

<p>
  <b>Valid until:</b>
  <%= @panel_deal.valid_until %>
</p>

<p>
  <b>Deal type:</b>
  <%= @panel_deal.deal_type %>
</p>

<p>
  <b>Deal:</b>
  <%= @panel_deal.deal %>
</p>


<%= link_to 'Edit', edit_panel_deal_path(@panel_deal) %> |
<%= link_to 'Back', panel_deals_path %>
