<div class="admin-show-wrapper">
  <% if notice != nil %>
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  <%= link_to 'Edit', edit_panel_deal_path(@panel_deal) %> |
  <%= link_to 'Back', panel_deals_path %>
  <br> <br><!-- #TODO -->

  <p>
    <b>Panel plan:</b>
    <%= @panel_deal.panel_plan.name %>
  </p>

  <p>
    <b>Valid until:</b>
    <%= @panel_deal.valid_until %>
  </p>

  <p>
    <b>Deal type:</b>
    <%= translate_deals_type @panel_deal.deal_type %>
  </p>

  <p>
    <b>Deal:</b>
    <%= @panel_deal.deal %> <%= deal_post_fix @panel_deal.deal_type %>
  </p>
  <% if @users.size > 0 %>
  <form method="post" action="<%= send_deal_path  %>">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input name="deal_id" type="hidden" value="<%= @panel_deal.id %>">
  <input type="submit" class="btn btn-success" value="Send Deal">
  <% if @users.size > 0 %>
      <div class="tablefooter clearfix">
          <div class="pagination">
              <%= will_paginate @users %>
              <%= paginate_ajax_js%>
          </div>
      </div>
      <input id="select_all_deal_check_box" type="checkbox" class="pull-left">
      <label for="select_all_deal_check_box">Select All</label>
      <table class="table table-striped">
          <thead>
          <tr>
              <th><%=t('.Select')%></th>
              <th><%=t('.name')%></th>
              <th><%=t('.email')%></th>
              <th><%=t('.profile')%></th>
          </tr>
          </thead>
          <tbody>
          <%@users.each do |user|%>
            <tr>
                <td><input type="checkbox" name="users[]" value="<%= user.id %>"></td>
                <td><%=user.try(:fullname)%></td>
                <td><%=mail_to user.email%></td>
                <td><%=user.profile.name%></td>
            </tr>
          <%end%>
          </tbody>
      </table>

  <% end %>
  </form>
    <script>
      $(function(){
        var users_check_box = $("input[name='users[]']"),
            deal_form = $("form");

        $("#select_all_deal_check_box").on("click", update_deal_check_box)
        function update_deal_check_box(){
          if($(this).is(':checked')){
            for(user_check_box in users_check_box){
              $(users_check_box).attr('checked','checked');
            }
          } else {
            for(user_check_box in users_check_box){
              $(users_check_box).removeAttr('checked');
            }
          }
        }
        deal_form.on("submit", validate_form)
        function validate_form(){
          MSG_ERR_SELECT_USERS = "Select at least one user."
          if(at_least_one_user_selected())
           return true;
          else
            alert(MSG_ERR_SELECT_USERS)
            return false;
        }

        // form functions
        function at_least_one_user_selected(){
          users_check_box_checked = users_check_box.filter(":checked")
          return (users_check_box_checked.length > 0) ? true : false
        }




      })
    </script>
    <% end %>
</div>