<div class="modal hide fade" id="edit-question-link-<%=id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%@question=Question.find id%>

  <%= form_for(@question, :url=>edit_question_match_management_question_index_path+"&id=#{id}", :method=>"put",:html=>{:id=>"form_question"}) do |f| %>  
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Question</h3><small>Obligatory? <%= f.check_box :obligatory%></small> 
    </div> 
    <div class="modal-body">
        <dd>
          <%= f.text_area :question, :class=>"medium validate[#{set_validate(Question.null?("question"))}]", :style=>"height:50px;width:97%;max-width:97%;max-height:50px;", :placeholder=>"Do you have any question?" %>
        </dd>

        <h4>Select an answer format</h4>

        <section>
            <article class="answer-format">
              <%= render :partial => "match_management/answer_format/multiple_choice_one_answer" %>
              <center><button id="ans-format-1-<%=@question.answer_format_id%>-<%=@question.id%>" class="btn" type="button">Choose</button>
              <p><small><%=@list_answer_formats[0].name%></small></p></center>
            </article>
            <article class="answer-format">
              <%= render :partial => "match_management/answer_format/multiple_choice_multiple_answers" %>
              <center><button id="ans-format-2-<%=@question.answer_format_id%>-<%=@question.id%>" class="btn" type="button">Choose</button>
              <p><small><%=@list_answer_formats[1].name%></small></p></center>
            </article>
            <article class="answer-format">
              <%= render :partial => "match_management/answer_format/comment_essay_box" %>
              <center><button id="ans-format-3-<%=@question.answer_format_id%>-<%=@question.id%>" class="btn" type="button">Choose</button>
              <p><small><%=@list_answer_formats[2].name%></small></p></center>
            </article>
            <article class="answer-format">
              <%= render :partial => "match_management/answer_format/datetime_hour" %>
              <center><button id="ans-format-7-<%=@question.answer_format_id%>-<%=@question.id%>" class="btn" type="button">Choose</button>
              <p><small><%=@list_answer_formats[3].name%></small></p></center>
            </article>
        </section>
        <%= f.hidden_field :answer_format_id, :value=>@question.answer_format_id, :id=>"ans-format-value-edit-#{@question.answer_format_id}-#{@question.id}" ,:class=>"medium validate[#{set_validate(Question.null?("answer_format_id"))}]"%>
        <%= f.hidden_field :match_id, :value=>@match_type_id,:class=>"medium validate[#{set_validate(Question.null?("match_id"))}]"%>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" >Close</button>
      <%= submit_tag(t('buttons.update'), :disable_with => t('buttons.processing'), :class=>"btn btn-success", :dismiss=>"modal")%>
    </div>
  <% end %>

  <%= render :partial => "match_management/answer_format/change_answer_format_edit", :locals=>{:ans_form_id=>@question.answer_format_id, :id=>@question.id} %>

</div>