<% if @list_matches.size > 0 %>
	<table id="table1" class="table table-hover">
		<thead>
			<tr>
				<th><%=t('.name')%></th>
				<th><%=t('.Type')%></th>
				<th><%=t('.status')%></th>
			<%if current_user.profile_id==1%>
				<th><%=t('.created_by')%></th>
				<th><%=t('.deleted?')%></th>
			<%end%>
				<th><%=t('table.actions')%></th>
			</tr>
		</thead>
		<tbody>
	    <%@list_matches.each do |match|%>
			  <tr>
				  <td><%=match.name%></td>
				  <td><%=match.match_type.name%></td>
				  <td><%=match.get_status(match.started)%></td>
				<%if current_user.profile_id==1%>
					<td><%=match.user.email%></td>
					<td><%=match.deleted?(match.id)%></td>
				<%end%>
				  <td>
					<%=link_to "Analyze",reports_management_report_path(match) unless !current_user.has_access(19)%>
				  </td>
			
			  </tr>
	    <%end%>
		</tbody>
	</table>
	<div class="tablefooter clearfix">
		<div class="pagination">
	    <%= will_paginate @list_matches %>
	    <%= paginate_ajax_js%>
		</div>
	</div>
<%else%>
	<p><%= t('messages.noitem_found')%></p>
<%end%>