<section id="panel">
    <br/><br/><br/>
    <legend><h3>Enter to <%=@match.name%>!</h3></legend>

    <%=form_for(@student, :url=>send_password_panel_exam_index_path, :method=>"post") do |f| %>

    	<label>Enter your email: </label> <%=f.text_field :email%><br/>
    	<input type="hidden" name="match_id" value="<%=@match_id%>"/>
    	<%=f.submit "Send code", {:class=>"btn"}%> <br/><br/>
    <%end%>
    
</section>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
