<section id="panel">
    <br/><br/><br/>
    <legend><h3>Enter to <%=@match.name%>!</h3></legend>

    <%=form_for(@student, :url=>create_code_panel_exam_index_path, :method=>"post") do |f| %>

    	<label>Email: </label> <%=f.text_field :email%><br/>
    	<label>Code: </label><%=f.password_field :code%><br/><br/>
    	<label>Confirm code: </label><input type="password" name="confirm_code"/><br/><br/>
    	<input type="hidden" name="match_id" value="<%=@match_id%>"/>
    	<%=f.submit "Enter", {:class=>"btn"}%> <br/><br/>
    <%end%>
    
</section>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
