<%= form_for(@panel_organization_invitation) do |f| %>
  <% if @panel_organization_invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panel_organization_invitation.errors.count, "error") %> prohibited this panel_organization_invitation from being saved:</h2>

      <ul>
      <% @panel_organization_invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :panel_organization %><br />
    <%= f.text_field :panel_organization %>
  </div>
  <div class="field">
      <%= f.label :status %><br />
      <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
