<%= nested_form_for(question,:url=>add_answers_match_management_answer_index_path+"&id=#{question.id}",:method=>'put',:html=>{:id=>"form_answers"}) do |f| %>
	<div class="modal-body">
		<div class="span4"></div>
		<div class="span8" style="display:inline-block;">
			<% f.fields_for :answers do |builder| %>
				<%= render "/match_management/answer/add_field_multiple_answers_per_col", :f => builder %>
			<% end %>
		
			<%= f.link_to_add "Add column", :answers %>
		</div>
		<div class="span12">
			<% f.fields_for :answers do |builder| %>
				<%= render "/match_management/answer/add_field_multiple_answers_per_row", :f => builder %>
			<% end %>
			<%= f.link_to_add "Add row", :answers %>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" >Close</button>
		<%= submit_tag(t('buttons.save'), :disable_with => t('buttons.processing'), :class=>"btn btn-success")%>
	</div>

<%end%>
