<%= form_for(@panel_organization) do |f| %>
  <% if @panel_organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@panel_organization.errors.count, "error") %> prohibited this panel_organization from being saved:</h2>

      <ul>
      <% @panel_organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
      <label for="members">Members</label><br />
      <select id="members" name="members[]" multiple class="chzn-select span6">
          <% @users.each do |user| %>
            <option value="<%= user.id %>"><%= user.email %></option>
          <% end %>
      </select>
  </div>
  <br>
  <div class="actions">
      <input type="submit" class="btn btn-info" value="Save">
  </div>
<% end %>
<script>
    $(function(){
      $(".chzn-select").chosen();
    });
</script>
