<div class="">
    <% if notice != nil %>
      <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <p id="notice"><%= notice %></p>
      </div>
    <% end %>
<legend>Organization &raquo; <%= @panel_organization.name %></legend>
    <div class="row-fluid">
        <div class="header-actions span6">
            <%= link_to 'Edit', edit_panel_organization_path(@panel_organization) %> |
            <%= link_to 'Back', panel_organizations_path %>
        </div>
    </div>
<p>
  <b>Administrator:</b>
  <%= @panel_organization.User.email %>
</p>

<p>
    <strong>Members:</strong>

</p>

<div class="span6">
  <table class="table table-bordered table-striped">
      <thead>
      <tr>
          <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <% @members.each do |member| %>
      <tr>
          <td><%= member.User.email %></td>
      </tr>
      <% end %>
      </tbody>
  </table>
</div>



</div>
