<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @panel_organization.User %>
</p>

<p>
  <b>Name:</b>
  <%= @panel_organization.name %>
</p>


<%= link_to 'Edit', edit_panel_organization_path(@panel_organization) %> |
<%= link_to 'Back', panel_organizations_path %>
