<%str_method = @int_page_type==2? 'put' : 'post'%>
<%str_path = @int_page_type==2? account_management_company_path : account_management_company_index_path%>
<%= form_for(@company, :url=>str_path, :method=>str_method,:html=>{:id=>"form_company"}) do |f| %>   
	
	<fieldset>
		<legend><%=t('.new_company')%></legend>
		<dl class="inline">

      <dt><%= set_label_obligatory(Company.null?("name")) %><%= f.label :name,"Name: " %></dt>
      <dd>
        <%= f.text_field :name, :class=>"medium validate[#{set_validate(Company.null?("name"))}]",:size=>50 %>
        <small><%= t('.small_name')%></small>
      </dd>

      <dt><%= set_label_obligatory(Company.null?("user_id")) %><%= f.label :user_id,"User: " %></dt>
      <dd>
        <%= f.select :user_id,@list_users.collect {|t| [t.name,t.id]},{:include_blank=>"#{t('.select_user')}"},{:class=>"medium validate[#{set_validate(Company.null?("user_id"))}]"} %>
        <small><%=t('.small_user_id')%></small>
      </dd>

    </dl>

		<div style="clear:both"></div>

	    <div class="buttons">
	      <%= render :partial => "buttons" %>
	    </div>
    </fieldset>

<% end %>