<% title t('.title')%>
<%= render :partial=>"layouts/messages" %>

<div style="border-radius:8px;border:1px solid #ccc;padding:7px;">
<h2><%=yield :title%>
        <%if @match.url.nil?%>
          <%=link_to "Generate URL", generate_url_for_survey_match_management_survey_index_path+"&id="+@match.id.to_s, :class=>"btn" unless !current_user.has_access(21)%>
    <%else%>
        <small><a href="<%=@match.url%>"><%=@match.url%></a></small>
        <%=link_to "Distribute", distribute_match_management_survey_index_path+"&id="+@match.id.to_s, :class=>"btn" unless !current_user.has_access(21)%>
    <%end%>
</h2>
</div>
<br>
<%= render :partial => "form" %>

<%= render :partial=>"layouts/validation",:locals=>{:form_id=>'form_match'} %>
