    <div class="row-fluid">
        <legend>Update Subscription</legend>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        Old Plan: <br>
                        <h3><%= @old_plan.first.panel_plan.name %></h3>
                    </th>
                </tr>
                </thead>
                <tbody>
                <% @old_plan.each do |plan_feature| %>
                <tr>
                    <td>
                        <% if plan_feature.up_to == 0  %>
                          Unlimited
                        <% else %>
                          <%= plan_feature.up_to %>
                        <% end %>
                        <%= plan_feature.panel_feature.name %>
                    </td>
                </tr>
                <% end %>
                </tbody>
            </table>
        </div>

        <div class="span6">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        New Plan: <br>
                        <h3><%= @new_plan.first.panel_plan.name %></h3>
                    </th>

                </tr>
                </thead>
                <tbody>
                <% @new_plan.each do |plan_feature| %>
                  <tr>
                      <td><%= plan_feature.up_to %> <%= plan_feature.panel_feature.name %></td>
                  </tr>
                <% end %>

                </tbody>
            </table>
        </div>
    </div>

    <br> <!-- #TODO -->

    <div class="row-fluid">
        <%= form_tag(edit_panel_subscribe_index_path, :method => 'put') do |f| %>
            <div class="well text-centered">
                <input type="hidden" name="panel_subscription[panel_plan_id]" value="<%= @new_plan.first.panel_plan.id %>">
                <input type="hidden" name="new_plan" value="<%= @new_plan.first.panel_plan.id %>">
                <input type="submit" id="select_new_plan_btn" value="Yes, Select New Plan" class="btn btn-info"> or
                <button class="btn">Cancel</button>
            </div>
        <% end %>
    </div>

    <div class="row-fluid">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p><strong>What happens next?</strong></p>
            <p>Your new SurveyHumans plan will immediately go into effect.
                Your credit card (<%= @credit_card %>) will be charged the new plan rate on a monthly basis beginning on
                <%= Time.now %>.</p>
        </div>
    </div>