<legend>Plans</legend>
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @panel_plans.each do |panel_plan| %>
  <tr>
    <td><%= panel_plan.name %></td>
    <td>$<%= panel_plan.amount %> per month</td>
    <td><%= link_to 'Show', panel_plan %></td>
    <td><%= link_to 'Edit', edit_panel_plan_path(panel_plan) %></td>
    <td><%= link_to 'Destroy', panel_plan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
