<% title t('.title') %>
<h2><%=yield :title%></h2>
<%= render :partial=>"layouts/messages" %>
<%= render :partial => "search" %><br/>
<div id="table">
    <%= link_to t('.new_button'),new_account_management_user_path, :class=>"btn btn-info" unless !current_user.has_access(3)%>
  <%= render :partial => "table" %>
</div>


