<%str_method = @int_page_type==2? 'put' : 'post'%>
<%str_path = @int_page_type==2? organization_management_company_path : organization_management_company_index_path%>
<%= form_for(@company, :url=>str_path, :method=>str_method,:html=>{:id=>"form_company"}) do |f| %>   
	
	<fieldset>
		<legend><%=t('.organization_details')%></legend>
    <dl class="inline">

      <dt><%= f.label :name,"#{t('.name')}:" %></dt>
      <dd>
        <%= f.text_field :name, :class=>"medium validate[#{set_validate(Company.null?("name"))}]",:size=>50 %>
        
      </dd>

      <%if current_user.profile_id==1%>
        <dt><%= f.label :name,"#{t('.name')}:" %></dt>
        <dd>
          <%= f.select :user_id,@list_users.collect {|t| [t.name,t.id]},{:include_blank=>"#{t('.select_user')}"},{:class=>"medium validate[#{set_validate(Company.null?("user_id"))}]"} %>
        </dd>
      <%end%>

		<div style="clear:both"></div>

	    <div class="buttons">
	      <%= render :partial => "buttons" %>
	    </div>
    </fieldset>

<% end %>