<% if @list_companies.size > 0 %>
<table id="table1" class="gtable sortable">
	<thead>
		<tr>
			<th><%=t('.name')%></th>
			<th><%=t('.user')%></th>
			<th><%=t('table.actions')%></th>
		</tr>
	</thead>
	<tbody>
    <%@list_companies.each do |company|%>
		  <tr>
			  <td><%=company.name%></td>
			  <td><%=company.user.name%></td>
			  <td>
				  <%=link_to image_tag('standard/show.png',:title=>"#{t('table.show')} #{company.name}"),organization_management_company_path(company) unless !current_user.has_access(19)%>
                <%=link_to image_tag('standard/delete.png', :title=>"#{t('table.delete')} #{company.name}"),{:action=>'destroy',:id=>company.id},{:method=>:delete, :confirm=>t('messages.sure_to_delete')+company.name+"?"} unless !current_user.has_access(21)%>
			  </td>
		  </tr>
    <%end%>
	</tbody>
</table>
<div class="tablefooter clearfix">
	<div class="pagination">
    <%= will_paginate @list_companies %>
    <%= paginate_ajax_js%>
	</div>
</div>
<%else%>
<p><%= t('messages.noitem_found')%></p>
<%end%>