<%= link_to t('search.filters'),"#",:onclick=>"open_close_div_search('form_search'); return false;",:class=>"show_hide_form_search" %>
<div style="clear:both"></div>

<%= form_for @search, :url => match_management_answer_format_index_path, :html => {:method => :get, :id=>'form_search', :style=>'display:none', :remote=>true} do |f| %>
  <fieldset>
    <legend><%=t('search.search')%></legend>
    <dl class="inline">
      <dt><%= f.label t('.name') %></dt>
      <dd><%= f.text_field :name_contains %></dd>
      <dt><%= f.label t('.format') %></dt>
      <dd><%= f.text_field :format_contains %></dd>
    </dl>
    <div class="buttons">
      <%= submit_tag(t('search.search'), :disable_with => t('buttons.processing'), :class => "button")%>          
      <span id='loading_search' style='display:none'><img alt='Loading' border='0' height='14' src="<%=image_path('style/loading.gif')%>" width='14'></span>
    </div>
  </fieldset>
<% end %>

<%=search_loading_js 'form_search'%>
