<% title t('.title') %>
<h2><%=yield :title%></h2>
<%= link_to t('.new_button'),new_account_management_profile_path, :class=>"btn btn-info" unless !current_user.has_access(8)%>
<%= render :partial=>"layouts/messages" %>
<%= render :partial => "search" %><br/>
<div id="table">
  <%= render :partial => "table" %>
</div>

