<!DOCTYPE HTML>
<html lang="en">
<head>
  <%if current_user.profile_id==1%>
    <%= render :partial => "layouts/header_admin"%>
  <%else%>
    <%= render :partial => "layouts/header_user"%>
  <%end%>
</head>
<body>
  <div class="container">
      <div id="main-navbar-top" class="navbar navbar-fixed-top">
          <div class="navbar-inner">
              <div id="main-navbar-top-container" class="container">

                  <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>

                  <!-- Be sure to leave the brand out there if you want it shown -->
                  <a class="brand" href="<%=home_path%>">Survey Humans</a>

                  <!-- Everything you want hidden at 940px or less, place within here -->
                  <div class="nav-collapse">
                      <!-- .nav, .navbar-search, .navbar-form, etc -->
                      <ul class="nav">
                          <li class="divider-vertical"></li>
                          <li><%= link_to 'Dashboard', root_path, :id=>"site-title" %></li>
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=t("panel.matches")%> <b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                  <li><%=link_to t("panel.surveys"), match_management_survey_index_path %></li>
                                  <li><%=link_to t("panel.exams"), match_management_exam_index_path %></li>
                              </ul>
                          </li>
                      </ul>
                      <ul class="nav pull-right">
                          <li><%= link_to current_user.email , account_management_user_path(current_user.id) %></li>
                          <li class="divider-vertical"></li>
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <%=t("panel.my_account")%>
                                  <i class="caret"></i>
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="#"><%=t("panel.settings")%></a></li>
                                  <li class="divider"></li>
                                  <li>
                                      <%= link_to t('logout'), destroy_user_session_path, :method => :delete %>
                                  </li>
                              </ul>
                          </li>
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <%=t("panel.languages")%>
                                  <i class="caret"></i>
                              </a>
                              <ul class="dropdown-menu">
                                  <li><%= link_to t("panel.english"), url_for( :locale => 'en') %></li>
                                  <li><%= link_to t("panel.spanish"), url_for( :locale => 'es') %></li>
                              </ul>
                          </li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>

      <section id="main-content" class="container-fluid">
          <div class="row-fluid">
            <%if current_user.profile_id==1%>
                <aside id="aside-nav-panel" class="span3">
                    <div class="row-fluid panel">
                        <h2><%=t('modules')%></h2>
                        <%= render :partial => "layouts/sidebar_admin"%>
                    </div>
                </aside>
                <section class="span9">
                    <section class="row-fluid panel">
                      <%= yield %>
                    </section>
                </section>
            <%else%>
                <section class="span12">
                    <section class="row-fluid panel">
                      <%= yield %>
                    </section>
                </section>
            <%end%>
          </div>

      </section>

    <section id="content">
      <section class="container_12 clearfix">
        <!--<section id="main" class="grid_12 push_0">-->
        <aside id="show_sidebar_tab" style="display:none;">
          <%= link_to_function image_tag("standard/resultset_next.png"), "show_sidebar()", :style=>"position: absolute;border: 1px solid #AAA;padding: 12px 0px 4px 10px;background:#F4F4F4;left: 0px"%>
        </aside>
        <section id="main" class="grid_10 push_2">
          <article>

              </article>
        </section>
      </section>
    </section>
  </div>
</body>
</html>
