<style type="text/css">
  .match-dashboard{
    color: #AA5F0A
  }
</style>
<section id="dashboard-front">

    <% if @invitations.size > 0 %>
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div class="row-fluid">
                <div class="span12">
                    <p>You have the following organization invitations:</p><br>
                </div>
            </div>
            <% @invitations.each do |invitation| %>
            <div class="row-fluid">
                <div class="span2">
                    <%= invitation.panel_organization.name %>
                </div>
                <div class="span4">
                  <a href="<%= organization_invitation_update_status_path(invitation.id, invitation.class::CONFIRMED) %>" class="btn">Confirm</a>
                  <a href="<%= organization_invitation_update_status_path(invitation.id, invitation.class::DISMISSED) %>" class="btn">Dismiss</a>
                </div>
            </div> <br>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if @deals.size > 0 %>
      <div class="row-fluid">
          <div class="span12">
              <div class="row-fluid alert alert-info">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <div class="row-fluid">
                      <div class="span12">
                          <p>You have the following deals:</p><br>
                      </div>
                  </div>
                  <% @deals.each do |deal| %>
                    <div class="row-fluid">
                        <div class="span2">
                            <%= format_deal deal %>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn">Confirm</a>
                            <a href="#" class="btn">Dismiss</a>
                        </div>
                    </div> <br>
                  <% end %>
              </div>
          </div>
      </div>
    <% end %>
    <div class="row-fluid container-fluid">
    <section class="span4">
      <h4><%=t('.SURVEYS')%></h4>
      <div class="inner">
        <%@surveys.each do |survey|%>
          <p><a class="match-dashboard" href="<%=edit_match_management_survey_path(survey)%>"><%=survey.name%></a></p>
        <%end%>
        <a class="btn btn-success" href="<%=match_management_survey_index_path%>"><%=t('.more')%></a>
      </div>
    </section>
    <section class="span4">
      <h4><%=t('.EXAMS')%></h4>
      <div class="inner">
        <%@exams.each do |exam|%>
          <p><a class="match-dashboard" href="<%=edit_match_management_exam_path(exam)%>"><%=exam.name%></a></p>
        <%end%>
        <a class="btn btn-success" href="<%=match_management_exam_index_path%>"><%=t('.more')%></a>
      </div>
    </section>
    <section id="dashboard-subs-section" class="span4 well text-centered">
      <h4><%=t('.SUBSCRIPTION')%></h4>
        <div class="alert alert-block">
            <p><%=t('.current_plan')%>: <%= @subscription.panel_plan.name if !@subscription.nil? %></p>
        </div>
        <p><%= @days_left %> <%=t('.days_left')%></p>
        <a class="btn btn-success" href="<%= panel_subscribe_index_path %>"><%=t('.update_subscription')%></a>
    </section>
  </div>

  <br> <!-- #TODO -->

  <div class="row-fluid container-fluid">
    <section class="span8">
      <h4><%=t('.ANALYZE_DATA')%></h4>
      <div class="inner">
        <%@list_matches.each do |match|%>
          <p><small style="color:#555"><%=match.match_type.name%> </small><a class="match-dashboard" href="<%=reports_management_report_path(match)%>"><%=match.name%></a></p>
        <%end%>
        <a class="btn btn-success" href="<%=reports_management_report_index_path%>"><%=t('.more')%></a>
      </div>
    </section>
    <section class="span4">
      <h4><%=t('.ORGANIZATIONS')%></h4>
      <div class="inner">
          <ul>
              <% @organizations.each do |organization| %>
                <li><a href="<%= panel_organization_path organization.panel_organization.id %>" class=""><%= organization.panel_organization.name %></a></li>
              <% end %>
          </ul>
        <a class="btn btn-success" href="<%=new_panel_organization_path%>"><%=t('.create_organization')%></a>
      </div>
    </section>
  </div>
</section>

