<style type="text/css">
  .match-dashboard{
    color: #AA5F0A
  }
</style>
<section id="dashboard-front">
  <div class="row-fluid container-fluid">
    <section class="span4">
      <h4>SURVEYS</h4>
      <div class="inner">
        <%@surveys.each do |survey|%>
          <p><a class="match-dashboard" href="<%=edit_match_management_survey_path(survey)%>"><%=survey.name%></a></p>
        <%end%>
        <a class="btn btn-success" href="<%=match_management_survey_index_path%>">MORE</a>
      </div>
    </section>
    <section class="span4">
      <h4>EXAMS</h4>
      <div class="inner">
        <%@exams.each do |exam|%>
          <p><a class="match-dashboard" href="<%=edit_match_management_exam_path(exam)%>"><%=exam.name%></a></p>
        <%end%>
        <a class="btn btn-success" href="<%=match_management_exam_index_path%>">MORE</a>
      </div>
    </section>
    <section id="dashboard-subs-section" class="span4 well text-centered">
      <h4>SUBSCRIPTION</h4>
        <div class="alert alert-block">
            <p>Current plan: <%= @subscription.panel_plan.name if !@subscription.nil? %></p>
        </div>
        <p><%= @days_left %> days left before subscription expire.</p>
        <a class="btn btn-success" href="<%= panel_subscribe_index_path %>">UPDATE SUBSCRIPTION</a>
    </section>
  </div>

  <br> <!-- #TODO -->

  <div class="row-fluid container-fluid">
    <section class="span8">
      <h4>ANALYZE DATA</h4>
      <div class="inner">
        <%@list_matches.each do |match|%>
          <p><small style="color:#555"><%=match.match_type.name%> </small><a class="match-dashboard" href="<%=reports_management_report_path(match)%>"><%=match.name%></a></p>
        <%end%>
        <a class="btn btn-success" href="<%=reports_management_report_index_path%>">MORE</a>
      </div>
    </section>
    <section class="span4">
      <h4>ORGANIZATIONS</h4>
      <div class="inner">
        <p> </p>
        <a class="btn btn-success" href="<%=organization_management_company_index_path%>">CREATE ORGANIZATION</a>
      </div>
    </section>
  </div>
</section>

