<section id="dashboard-front">
    <% if @invitations.size > 0 %>
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div class="row-fluid">
                <div class="span12">
                    <p>You have the following organization invitations:</p><br>
                </div>
            </div>
            <% @invitations.each do |invitation| %>
            <div class="row-fluid">
                <div class="span2">
                    <%= invitation.panel_organization.name %>
                </div>
                <div class="span4">
                  <a href="<%= organization_invitation_update_status_path(invitation.id, invitation.class::CONFIRMED) %>" class="btn">Confirm</a>
                  <a href="<%= organization_invitation_update_status_path(invitation.id, invitation.class::DISMISSED) %>" class="btn">Dismiss</a>
                </div>
            </div> <br>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row-fluid container-fluid">
    <section class="span4">
      <h4>SURVEYS</h4>
      <div class="inner">
        <%@surveys.each do |survey|%>
          <p><%=survey.name%></p>
        <%end%>
        <a class="btn btn-success" href="<%=match_management_survey_index_path%>">MORE</a>
      </div>
    </section>
    <section class="span4">
      <h4>EXAMS</h4>
      <div class="inner">
        <%@exams.each do |exam|%>
          <p><%=exam.name%></p>
        <%end%>
        <a class="btn btn-success" href="<%=match_management_exam_index_path%>">Create Exam</a>
      </div>
    </section>
    <section id="dashboard-subs-section" class="span4 well text-centered">
      <h4>SUBSCRIPTION</h4>
        <div class="alert alert-block">
            <p>Current plan: <%= @subscription.panel_plan.name if !@subscription.nil? %></p>
        </div>
        <p><%= @days_left %> days left before subscription expire.</p>
        <a class="btn btn-success" href="<%= panel_subscribe_index_path %>">UPDATE SUBSCRIPTION</a>
    </section>
  </div>

  <br><br> <!-- #TODO -->

  <div class="row-fluid container-fluid">
    <section class="span8">
      <h4>ANALYZE DATA</h4>
      <div class="inner">
        <p> </p>
        <a class="btn btn-success" href="<%=reports_management_report_index_path%>">MORE</a>
      </div>
    </section>
    <section class="span4">
      <h4>ORGANIZATIONS</h4>
      <div class="inner">
          <ul>
              <% @organizations.each do |organization| %>
                <li><a href="<%= panel_organization_path organization.id %>" class=""><%= organization.name %></a></li>
              <% end %>
          </ul>
        <a class="btn btn-success" href="<%=new_panel_organization_path%>">CREATE ORGANIZATION</a>
      </div>
    </section>
  </div>
</section>

