<% list_access = Access.find(:all, :conditions => ['parent_id = ?', 0])%>

  <%= link_to_function image_tag("standard/resultset_previous.png"), "hide_sidebar()", :style=>"float: right;top: 7px;position: absolute;left: 150px;"%>

		<ul class="nav nav-list bs-docs-sidenav">
        <li class="<%=@current_view=="dashboard" ? "active" : "" %>">
            <a href="<%=dashboard_account_management_user_index_path%>">
                Dashboard
                <% if @current_view=='dashboard'%>
                  <i class="icon-chevron-right"></i>
                <% end %>
            </a>
        </li>
        <li class="<%=@current_module=="plans" ? "active" : "" %>">
            <a href="<%= panel_plans_path %>" class="">
                Plans
                <% if @current_module=="plans"%>
                  <i class="icon-chevron-right"></i>
                <% end %>
            </a>
        </li>
        <li class="<%=@current_module=="deals" ? "active" : "" %>">
            <a href="<%= panel_deals_path %>" >
                Deals
                <% if @current_module=="deals"%>
                  <i class="icon-chevron-right"></i>
                <% end %>
            </a>
        </li>
        <li class="<%=@current_module=="gateways" ? "active" : "" %>">
            <a href="<%= panel_gateways_path %>" >
                Gateways
                <% if @current_module=="gateways"%>
                  <i class="icon-chevron-right"></i>
                <% end %>
            </a>
        </li>
        <li class="<%=@current_module=="transactions" ? "active" : "" %>">
            <a href="<%= panel_subscription_transactions_path %>" >
                Transactions
                <% if @current_module=="transactions"%>
                  <i class="icon-chevron-right"></i>
                <% end %>
            </a>
        </li>
        <li><a href="#">Templates</a></li>
        <li><a href="#">Comments</a></li>
      <%list_access.each do |access|%>
        <li class="<%=@current_view=="security" ? "active" : "" %>">
          <%= link_to t("panel.#{access.name}"), {:controller=>access.controller, :action=>access.action} unless !current_user.has_access(access.id)  %>
        </li>
      <%end%>

		</ul>
